<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'lots'}}
            <div class="text-a">
              Sobi<span class="nav-text">Shit owned by idols</span>
            </div>
          {{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
