<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'lots'}}Sobi{{/link-to}}</li>
      <!-- <li {{action 'showForm'}}>+ Lot</li> -->
    </ul>
  </nav>

  {{outlet}}

</div>
