<div class="jumbotron tooth">
  <h1>Sobi Auction House</h1>
  <br />
  <br />
  <br />
  <p>{{#link-to 'new-lot' classNames="btn btn-default"}}Add a Lot{{/link-to}}</p>
</div>

<ul>
  {{#each lot in model}}
    <li>{{#link-to 'lot' lot}} {{lot.name}} {{/link-to}}</li>
    {{/each}}
</ul>
