<div class="jumbotron tooth">
  <h1>Sobi Auction House</h1>
  <br />
  <br />
  <br />
  {{#link-to 'new-lot' classNames="btn btn-default"}}Add a Lot{{/link-to}}
</div>

<div class="thumbnails">
  <ul>
    {{#each lot in model}}
      <li>
        {{#link-to 'lot' lot}} {{lot.name}} {{/link-to}}<br>
        <img {{bind-attr src=lot.imgUrl}} style="width: 100px; height:auto"><br />
      </li>
      {{/each}}
  </ul>
</div>
